<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{student.avatar_url}}" >
    </div>
    </div>
    <div class="item">
        <div>Nome</div>
        <div>
            <input type="text" name="name" placeholder="Nome do Aluno" value="{{student.name}}"  >
        </div>
    </div>
    <div class="item">
        <div>Email</div>
        <div>
            <input type="email" name="email" value="{{student.email}}"  >
        </div>
    </div>
    <div class="item">
        <div>Data de Nascimento</div>
        <div><input type="date" name="birth" value="{{student.birth}}"></div>
    </div>
     <div class="item">
        <div>Ano Escolar</div>
        <div>
            <select name="education_level">
                <option value="5º ano EF"
                    {% if student.education_level =="5º ano EF"%}selected{%endif%}>5º ano EF
                </option>
                <option value="6º ano EF"
                    {% if student.education_level =="6º ano EF"%}selected{%endif%}>6º ano EF
                </option>
                <option value="7º ano EF"
                    {% if student.education_level =="7º ano EF"%}selected{%endif%}>7º ano EF
                </option>
                <option value="8º ano EF"
                    {% if student.education_level =="8º ano EF"%}selected{%endif%}>8º ano EF
                </option>
                <option value="9º ano EF"
                    {% if student.education_level =="9º ano EF"%}selected{%endif%}>9º ano EF
                </option>
                <option value="1º ano EM"
                    {% if student.education_level =="1º ano EM"%}selected{%endif%}>1º ano EM
                </option>
                <option value="2º ano EM"
                    {% if student.education_level =="2º ano EM"%}selected{%endif%}>2º ano EM
                </option>
                <option value="3º ano EM"
                    {% if student.education_level =="3º ano EM"%}selected{%endif%}>3º ano EM
                </option>
            </select>
        </div>
    </div> 
    <div class="item">
        <div>Carga Horária Semanal</div>
        <div>
            <input type="number" name="workload" value="{{student.workload}}">
        </div>
    </div>
    <div class="item">
        <div>Professor</div>
        <div>
            <select name="teacher">
                {% for teacher in teacherOptions %}
                    <option value="{{teacher.id}}"{% if student.teacher_id == teacher.id %}selected{%endif%}>
                        {{teacher.name}}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit">Salvar</button>